<style>

  .card {
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
  }

  .comment-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }

  .comment-card {
    background-color: #f6efef;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .comment-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .no-comment {
    background-color: transparent;
  }

  .comment-details {
    margin-bottom: 5px;
  }

  .icon {
    margin-bottom: 6px;
  }

  .badge-primary {
    background-color: #c14884;
    color: #0f0c0c;
  }

  .badge-secondary {
    background-color: #6a77d8;
    color: #0f0c0c;
  }

  .badge-tertiary {
    background-color: #7aacf0;
    color: #0f0c0c;
  }

  .badge-quaternary {
    background-color: #afe1ec;
    color: #0f0c0c;
  }

  .tags {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .tag-badge {
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .response-info {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .response-text {
    background-color: #f6efef;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  .sep {
    margin-left: 8px;
    margin-right: 8px;
  }

  .tags-icon {
    margin-left: 4px;
    margin-bottom: 4px;
    margin-right: 4px;
  }

  .red-nice {
    background-color: #ff6f69;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
  }

  .yellow-nice {
    background-color: #ffcc5c;
    color: #0f0c0c;
    padding: 5px 10px;
    border-radius: 3px;
  }

  .green-nice {
    background-color: #88d8b0;
    color: #0f0c0c;
    padding: 5px 10px;
    border-radius: 3px;
  }

  .role-badge {
    background-color: #836474;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 3px;
    margin-bottom: 10px;
  }
</style>

<head>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>

<body>
  <div id="top-page">

    <div id="wrapper">
      <%= render partial: 'layouts/sidebar' %>

      <div class="container my-5">
        <div class="card">
          <div class="card-body align-items-center justify-content">
            <div>
            <h1>Create a comment</h1>
            </div>

            <%= form_with(model: comment, url: ticket_comments_path(@ticket)) do |form| %>
                <% if comment.errors.any? %>
                  <div style="color: red">
                    <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

                    <ul>
                      <% comment.errors.each do |error| %>
                        <li><%= error.full_message %></li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>

                <p class = "muted-text">Remember that this comment will be visible to every other executive</p>

                <div class="form-group">
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="comment" placeholder = "Write a comment..."></textarea>
                </div>

                <div class="text-center mt-4">
                  <%= form.submit 'Publish Comment', class: 'btn btn-primary' %>
                </div>
                <div>
                  <button class="btn btn-secondary" style = "margin-bottom: 10px;" onclick="history.back()" type = "button">Back</button>
                </div>
              <% end %>
            </div>
          </div>
          <hr style="background-color: #d0d0d0;">
          <h2 style="margin-bottom: -30px;">Commenting on:</h2>
          <%= render partial: 'tickets/ticket' %>
        </div>
      </div>
    </div>
  </div>

</body>
