
<!DOCTYPE html>
<html lang="en">

<style>
    .user-cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
        gap: 20px;
        margin-top: 20px;
    }

    .no-user {
        background-color: transparent;
        width: 20rem;
    }
</style>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Custom fonts for this template-->
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <%= stylesheet_link_tag 'sb-admin-2.min.css' %>
    <%= stylesheet_link_tag 'fontawesome-free/css/all.min.css' %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

</head>

<body id="page-top">
    
    <div id="wrapper">
        <%= render partial: 'modal' %>
        <%= render partial: 'layouts/sidebar' %>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column" style = "background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class = "sidebar-brand-text" style = "color: #666666; margin-bottom: -15px; margin-top: 20px;">User Roles Board</h1>
            </div>

            <hr style = "background-color: #d0d0d0;"></hr>

            <% if current_user.administrator? %>
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h2 class = "sidebar-brand-text" style = "color: #666666;">Supervisors</h1>
                </div>

                <div class = "user-cards">
                    <% if @supervisors.present? %>
                        <% @supervisors.each do |s| %>
                            <div class="card" style="width: 20rem; display: inline-block; margin-bottom: 10px; box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);">
                                <div class="card-body">
                                    <h5 class="card-title"><%= s.name %> <%= s.last_name %></h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Supervisor</h6>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <div style = "display: flex; gap: 10px;">
                                    <a href="<%= s.id %>" class="btn btn-primary">See profile</a>
                                    <div class="dropdown">
                                        <button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Change role
                                        </button>
                                        <ul class="dropdown-menu">
                                            <% if current_user.administrator? %>
                                                <li><a class="dropdown-item" data-name="<%= s.name %> <%= s.last_name %>" data-user="<%= s.id %>" onclick = "change_role_handler(event,this.dataset, 1)">Executive</a></li>
                                            <% end %>
                                            <li><a class="dropdown-item" data-name="<%= s.name %> <%= s.last_name %>" data-user="<%= s.id %>" onclick = "change_role_handler(event,this.dataset, 0)">Requiring User</a></li>
                                        </ul>
                                    </div>
                                </div>
                                </div>
                            </div>
                        <% end %>
                    <% else %>
                        <div class="card" style = "width: 20rem;">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center" >
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">There are no supervisors</div>
                                            <i class="bi bi-emoji-smile-upside-down"></i>
                                        </div>
                                        <div class="col-auto">
                                            <i class="bi bi-file-earmark-person-fill fa-2x" style = "color: #c0c0c0;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <%end%>
                </div>

                <hr style = "background-color: #d0d0d0;"></hr>
            <% end %>
            
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h2 class = "sidebar-brand-text" style = "color: #666666;">Executives</h1>
            </div>

            <div class = "user-cards">
                <% if @executives.present? %>
                    <% @executives.each do |e| %>
                        <div class="card" style="width: 20rem; display: inline-block; margin-bottom: 10px; box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);">
                            <div class="card-body">
                                <h5 class="card-title"><%= e.name %> <%= e.last_name %></h5>
                                <h6 class="card-subtitle mb-2 text-muted">Executive</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <div style = "display: flex; gap: 10px;">
                                    <a href="<%= e.id %>" class="btn btn-primary">See profile</a>
                                    <div class="dropdown">
                                        <button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Change role
                                        </button>
                                        <ul class="dropdown-menu">
                                            <% if current_user.administrator? %>
                                                <li><a class="dropdown-item" data-name="<%= e.name %> <%= e.last_name %>" data-user="<%= e.id %>" onclick = "change_role_handler(event,this.dataset, 2)">Supervisor</a></li>
                                            <% end %>
                                            <li><a class="dropdown-item" data-name="<%= e.name %> <%= e.last_name %>" data-user="<%= e.id %>" onclick = "change_role_handler(event,this.dataset, 0)">Requiring User</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% end %>
                <% else %>
                    <div class="card no-user" style="width: 20rem;">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">There are no executives</div>
                                        <i class="bi bi-emoji-smile-upside-down"></i>
                                    </div>
                                    <div class="col-auto">
                                        <i class="bi bi-file-earmark-person-fill fa-2x" style = "color: #c0c0c0;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <%end%>
            </div>

            <hr style = "background-color: #d0d0d0;"></hr>

            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h2 class = "sidebar-brand-text" style = "color: #666666;">Requiring Users</h1>
            </div>

            <div class = "user-cards">
                <% if @requiring_users.present? %>
                    <% @requiring_users.each do |u| %>
                        <div class="card" style="width: 20rem; display: inline-block; margin-bottom: 10px; box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);">
                            <div class="card-body">
                                <h5 class="card-title"><%= u.name %> <%= u.last_name %></h5>
                                <h6 class="card-subtitle mb-2 text-muted">Requiring User</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <div style = "display: flex; gap: 10px;">
                                    <a href="<%= u.id %>" class="btn btn-primary">See profile</a>
                                    <div class="dropdown">
                                        <button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Change role
                                        </button>
                                        <ul class="dropdown-menu">
                                            <% if current_user.administrator? %>
                                                <li><a class="dropdown-item" data-name="<%= u.name %> <%= u.last_name %>" data-user="<%= u.id %>" onclick = "change_role_handler(event, this.dataset, 2)" >Supervisor</a></li>
                                            <% end %>
                                            <li><a class="dropdown-item" data-name="<%= u.name %> <%= u.last_name %>" data-user="<%= u.id %>" onclick = "change_role_handler(event, this.dataset, 1)" >Executive</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% end %>
                <% else %>
                    <div class="card no-user" style="width: 20rem;">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">There are no requiring users</div>
                                        <i class="bi bi-emoji-smile-upside-down"></i>
                                    </div>
                                    <div class="col-auto">
                                        <i class="bi bi-file-earmark-person-fill fa-2x" style = "color: #c0c0c0;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
    </div>

    <%= stylesheet_link_tag 'fontawesome-free/css/all.min.css' %>
    <%= stylesheet_link_tag 'sb-admin-2.min.css' %>
    <%= javascript_include_tag 'jquery-easing/jquery.easing.min.js' %>
    <%= javascript_include_tag 'js_boot/bootstrap.bundle.min.js' %>
</body>
</html>

<script>
  function change_role_handler(event, data, role) {
    event.preventDefault();
    $("#roleModal").modal("show");
    let newRole = role;
    let name = data.name;
    let user = data.user;
    let path = "/users/" + user;
    var formHTML = '';
    formHTML += '<p>Are you sure you wish to change ' + name + '\'s role?</p>';
    formHTML +=
      '<form id="role-form" action="' + path + '" method="post">' +
      '  <input type="hidden" name="_method" value="patch">' +
      '  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">' +
      '  <input type="hidden" name="user[commit]" id="commit">' +
      '  <input type="hidden" name="user[role]" id="role">' +
      '  <div style="text-align: center;">' +
      '    <input type="submit" value="Yes, I am sure" class="btn btn-primary">' +
      '    <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">' +
      '      I am not sure' +
      '    </button>' +
      '  </div>' +
      '</form>';

    $("#roleModal .modal-body").html(formHTML);

    $("#role").val(role);
    $("#commit").val("role");
  };
</script>
