<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Custom fonts for this template-->
    <link href="assets/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="assets/sb-admin-2.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

</head>

<style>
    .no-response {
        background-color: transparent;
    }
</style>

<body id="page-top">
    
    <div id="wrapper">
        <%= render partial: 'layouts/sidebar' %>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column" style = "background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);">

        <% if current_user.requiring_user? %>
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="sidebar-brand-text" style = "color: #666666; margin-top: 30px; margin-bottom: -20px;">Dashboard</h1>
                <a href="<%= new_user_ticket_path(current_user) %>" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" style = "margin-bottom: -40px; margin-right: 20px;"><i
                        class="bi bi-plus" text-white-50"></i> Crear Ticket</a>
            </div>

            <hr style = "background-color: #d0d0d0;"></hr>

            <div class="row">
            <!-- respuestas pendientes -->
            
            <% if @pending_responses.present? %>
                <% @pending_responses.each_with_index do |response,index| %>

                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Response
                                            <%= index + 1%></div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800"><%= response.response %></div>

                                        <a href="<%= ticket_path(response.ticket) %>" class="btn btn-primary" style="width: 180px; margin-top: 10px;">See</a>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>
            <% else %>
                <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2 no-response">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">There are no pending responses</div>
                                <i class="bi bi-emoji-smile-upside-down"></i>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-comments fa-2x" style = "color: #c0c0c0;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% end %>
            </div>

            <hr style = "background-color: #d0d0d0;"></hr>
            
            <% if @opened_tickets.present? %>
                <%= render partial: "pages/open_ticket", collection: @opened_tickets %>
            <% else %>
                <%= render partial: "pages/no_open_tickets" %>
            <% end %>

        </div>
            <!-- End of Content Wrapper -->
        <% elsif current_user.executive? %>
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="sidebar-brand-text" style = "color: #666666; margin-top: 30px; margin-bottom: -20px;">Dashboard</h1>
            </div>

            <hr style = "background-color: #d0d0d0;"></hr>


            <div class="row">

            <!-- Tickets Abiertos -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Tickets Abiertos Sin Responder</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @tickets_no_answer.count %></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-folder-open fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Tickets Asignados -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Tickets Asignados</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @tickets.count %></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-ticket-alt fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Evaluación Promedio -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Evaluación Promedio</div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><%= @evaluation_average[current_user.id].to_f.round(2) || 0.0 %></div>
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-sm mr-2">
                                            <div class="progress-bar bg-info" role="progressbar" style="width: <%= (@evaluation_average[current_user.id].to_f.round(2) || 0.0) * 20 %>%"
                                            aria-valuenow="<%= @evaluation_average[current_user.id].to_f.round(2) || 0.0 %>" aria-valuemin="0" aria-valuemax="5"></div>
                                        </div>   
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Respuestas Pendientes -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Respuestas Pendientes</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @pending_responses.count %></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-comments fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <% if @opened_tickets.present? %>
                <%= render partial: "pages/open_ticket", collection: @opened_tickets %>
            <% else %>
                <%= render partial: 'pages/no_open_tickets' %>
            <% end %>
        </div>
        </div> 

        <% elsif current_user.supervisor? || current_user.administrator? %>
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="sidebar-brand-text" style = "color: #666666; margin-top: 30px; margin-bottom: -20px;">Dashboard</h1>
            </div>

            <hr style = "background-color: #d0d0d0;"></hr>
            <div class="row">
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Open Tickets with no response</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @tickets_no_answer.count %></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-folder-open fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Open Tickets</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @opened_tickets.count %></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-ticket-alt fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h3 class="h3 mb-0 text-gray-800" style = "margin-top: 5px; margin-bottom: 20px;">Overdue Tickets</h3>
            <div id="content-wrapper" class="d-flex flex-column" style = "background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);">
                <div id="content">
                <div class="container-fluid">
                    <div class="ticket-response-section">
                    <% if @overdue_tickets.present? %>
                        <% @overdue_tickets.each do |ticket| %>
                            <div class="card shadow mb-4">
                            <div class="card-header py-3" style = "color: #2a4454; margin-bottom: -8px;">
                                <h6 class="m-0 font-weight-bold text-primary"><%= ticket.title %></h6>
                            </div>
                            <div class="card-body">
                                <div class = "badges-priority">
                                    <% if ticket.priority == 1 %>
                                    <sup><span class="badge rounded-pill red-nice">High Priority</span></sup>
                                    <% elsif ticket.priority == 2 %>
                                        <sup><span class="badge rounded-pill yellow-nice">Medium Priority</span></sup>
                                    <% elsif ticket.priority == 3 %>
                                        <sup><span class="badge rounded-pill green-nice">Low Baja</span></sup>
                                    <% end %>
                                </div>
                            <div style = "display: flex; gap: 15px;">
                                <div style = "display: flex;">
                                    <span class="icon me-1"><i class="far fa-calendar-alt"></i></span>
                                    <p class="ticket-details">Creation Date: <%= ticket.creation_date %></p>
                                </div>
                                <div style = "display: flex;">
                                    <span class="icon me-1"><i class="bi bi-calendar-x" style = "color: #da4e4e;"></i></span>
                                    <p class="ticket-details" style = "color: #da4e4e;">Deadline Date: <%= ticket.deadline_date %></p>
                                </div>
                            </div>
                        <% if ticket.resolution_date %>
                            <div style = "display: flex;">
                                <span class="icon me-1"><i class="far fa-calendar-check"></i></span>
                                <p class="ticket-details">Resolution Date: <%= ticket.resolution_date %></p>
                            </div>
                        <% end %>
                        <p> <%= ticket.description %></p>
                        <a href="<%= ticket_path(ticket) %>" class="btn btn-primary">Ver ticket</a>
                            </div>
                            </div>
                        <% end %>
                    
                    <% else %>
                        <div class="card shadow mb-4 no-open-tickets">
                        <div class="card-header py-3" style="margin-bottom: -8px; background-color: rgba( 248, 249, 252, 0.3);">
                            <h6 class="m-0 font-weight-bold text-primary">There are no late tickets</h6>
                        </div>

                        <div class="card-body" style="display: flex; flex-direction: column;">
                            <i class="bi bi-emoji-laughing" style = "margin-top: 5px; margin-bottom: 12px; margin-left: 8px;"></i>
                            <a href="<%= user_tickets_path(current_user) %>" class="btn btn-primary" style="width: 180px;">See all my tickets</a>
                        </div>
                    <% end %>
                    </div>
                </div>
                </div>
            </div>
        <% end %>

    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="assets/jquery/jquery.min.js"></script>
    <script src="assets/js_boot/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="assets/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="assets/sb-admin-2.min.js"></script>

</body>

</html>