<style>

  .card {
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
  }

  .comment-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }

  .comment-card {
    background-color: #f6efef;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .comment-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .no-decorator {
    text-decoration: none;
  }

  .no-decorator:hover {
    text-decoration: none;
    cursor: pointer;
  }

  .no-comment {
    background-color: transparent;
  }

  .comment-details {
    margin-bottom: 5px;
  }

  .icon {
    margin-bottom: 6px;
  }

  .badge-primary {
    background-color: #c14884;
    color: #0f0c0c;
  }

  .badge-secondary {
    background-color: #6a77d8;
    color: #0f0c0c;
  }

  .badge-tertiary {
    background-color: #7aacf0;
    color: #0f0c0c;
  }

  .badge-quaternary {
    background-color: #afe1ec;
    color: #0f0c0c;
  }

  .tags {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .tag-badge {
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .response-info {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .response-text {
    background-color: #f6efef;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  .sep {
    margin-left: 8px;
    margin-right: 8px;
  }

  .tags-icon {
    margin-left: 4px;
    margin-bottom: 4px;
    margin-right: 4px;
  }

  .red-nice {
    background-color: #ff6f69;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
  }

  .yellow-nice {
    background-color: #ffcc5c;
    color: #0f0c0c;
    padding: 5px 10px;
    border-radius: 3px;
  }

  .green-nice {
    background-color: #88d8b0;
    color: #0f0c0c;
    padding: 5px 10px;
    border-radius: 3px;
  }

  .role-badge {
    background-color: #836474;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 3px;
    margin-bottom: 10px;
  }

  .add-comment {
    margin-left: 730px;
    margin-bottom: 10px;
  }

  .corner {
    margin-left: 375px;
  }
</style>

<head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>

<body>
  <div id="top-page">

    <div id="wrapper">

      <%= render partial: 'modals' %>
    
      <%= render partial: 'layouts/sidebar' %>

      <div class="container my-5">
      <div class="card">
        <div class="card-body">
          <div class="ticket-info d-flex align-items-center justify-content-between">
            <h2 class="mb-0"><%= @ticket.title %></h2>
            <div class="d-flex align-items-center">
              <span class="badge-container me-2">
              <% if @ticket.priority == 1 %>
                <span class="badge rounded-pill red-nice">High Priority</span>
              <% elsif @ticket.priority == 2 %>
                <span class="badge rounded-pill yellow-nice">Medium Priority</span>
              <% elsif @ticket.priority == 3 %>
                <span class="badge rounded-pill yellow-nice">Low Priority</span>
              <% end %>
              </span>
              <span class="badge-container">
                <% if @ticket.state == "open" %>
                  <span class="badge rounded-pill red-nice">Open</span>
                <% elsif @ticket.state == "closed" %>
                  <span class="badge rounded-pill green-nice">Closed</span>
                <% elsif @ticket.state == "reopened" %>
                  <span class="badge rounded-pill yellow-nice">Reopened</span>
                <% end %>
              </span>
            </div>
          </div>
    
          <div class="date-info d-flex align-items-center">
            <h6 class="mb-0">Created on <%= @ticket.creation_date %></h6> 
            <% if @ticket.resolution_date %>
              <h6 class="sep">|</h6>
              <h6 class="mb-0">Closed on <%= @ticket.resolution_date %></h6>
            <% end %>
          </div>
    
          <div class="tags">
            <i class="bi bi-tags tags-icon"></i>
            <% @ticket.tags.each_with_index do |tag, index| %>
              <% color_class = ["badge-primary", "badge-secondary", "badge-tertiary", "badge-quaternary"][index % 4] %>
              <span class="badge tag-badge <%= color_class %>"><%= tag.name %></span>
            <% end %>
          </div>
    
          <div class="row">
            <div class="col-md-6">
              <%= link_to user_path(@ticket.requiring_user_id), class: "no-decorator" do %>
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Created by:</h4>
                    <p class="card-text" style="font-size: 20px;"><%= @ticket.requiring_user.name %> <%= @ticket.requiring_user.last_name %></p>
                  </div>
                </div>
              <% end %>            
            </div>
            <div class="col-md-6">
              <%= link_to user_path(@ticket.executive_id), class: "no-decorator" do %>
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Executive in charge:</h4>
                    <p class="card-text" style="font-size: 20px;"><%= @ticket.executive.name %> <%= @ticket.executive.last_name %></p>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
    
          <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Description</h5>
                  <p class="card-text"><%= @ticket.description %></p>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Response</h5>
                <% if @ticket.responses.any? %>
                  <% @ticket.responses.each do |response| %>
                    <div class="response-text">
                      <% if !response.rejected && !response.acceptance %>
                        <span class="badge rounded-pill yellow-nice corner">Pending</span>
                      <% else %>
                        <% if response.acceptance %>
                          <span class="badge rounded-pill green-nice corner">Accepted</span>
                        <% elsif response.rejected %>
                          <span class="badge rounded-pill red-nice corner">Rejected</span>
                        <% end %>
                      <% end %>
                      <p><%= response.response %></p>
                    </div>
                  <% end %>
                  <% if @ticket.responses.any? { |response| !response.acceptance && !response.rejected } && current_user.requiring_user? %>
                    <div style="margin-bottom: 10px;">
                      <a class="btn btn-success" id = "aceptar-respuesta" onclick="acceptance_handler(event)" >Accept</a>
                      <a class="btn btn-danger" id = "rechazar-respuesta" onclick="denial_handler(event)">Reject</a>
                    </div>
                  <% else %>
                    <% if @ticket.responses.any? { |response| !response.acceptance} && current_user.executive? && current_user.id == @ticket.executive_id%>
                      <%= button_to 'Answer', new_ticket_response_path(@ticket), method: :get, class: "btn btn-primary" %>
                    <% end %>
                  <% end %>
                <% else %>
                  <% if current_user.executive? && current_user.id == @ticket.executive_id %>
                    <%= button_to 'Answer', new_ticket_response_path(@ticket), method: :get, class: "btn btn-primary" %>
                  <% else %>
                    <p class="card-text text-muted">There are no responses</p>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
          </div>

        <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Attachments</h5>
                    <% if @attachments.present? %>
                      <% @attachments.each do |attachment| %>
                        <% blob = attachment.blob %>
                        <% title = blob.metadata['title'] %>
                        <%= link_to title, rails_blob_url(attachment) if title.present? %>
                      <% end %>
                    <% else %>
                      <p class="card-text text-muted">There are no attachments</p>
                    <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      
        <% if (current_user.id == @ticket.executive_id || current_user.id == @ticket.requiring_user_id ) %>
          <div class="actions-container d-flex justify-content-end mt-4">
            <%= link_to "Edit this ticket", edit_ticket_path(@ticket), class: "btn btn-primary me-2" %>
            <%= button_to "Destroy this ticket", @ticket, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger", style: "margin-right: 10px;" %>
          </div>
        <% end %>

        <% if (current_user.administrator? || current_user.supervisor? ) %>
          <div class="actions-container d-flex justify-content-end mt-4">
            <%= link_to "Edit this ticket", edit_ticket_path(@ticket), class: "btn btn-primary me-2" %>
            <%= button_to "Destroy this ticket", @ticket, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger", style: "margin-right: 10px;" %>
            <% executive_ids = User.where(role: :executive).pluck(:id) %>
            <div class="dropdown me-2">
                <button class="btn btn-warning dropdown-toggle" type="button" id="changeExecutiveDropdown" data-toggle="dropdown" aria-expanded="false">
                  Change Executive
                </button>
                <ul class="dropdown-menu" aria-labelledby="changeExecutiveDropdown">
                  <% executive_ids.each do |executive_id| %>
                    <li>
                      <%= link_to "#", class: "dropdown-item", data: { executive_id: executive_id, actual_in_charge: @ticket.executive_id }, id: "#{executive_id}", onclick: "change_exec_handler(event, this.dataset)" do %>
                        <%= "#{User.find(executive_id).name} #{User.find(executive_id).last_name}" %>
                      <% end %>
                    </li> 
                  <% end %> 
                </ul> 
              </div>
          </div>
        <% end %>
        
        <div class="text-center mt-4">
          <button class="btn btn-secondary" style = "margin-bottom: 10px;" onclick="history.back()">Back</button>
        </div>
      </div>
    
      <% if current_user.executive? %>
    
        <hr style="background-color: #d0d0d0;">

        <div style="display: flex;">
          <h2>Comments</h2>
          <i class="bi bi-chat-dots"></i>
          <a href = "<%= new_ticket_comment_path(@ticket) %>" class = "btn btn-primary add-comment">Leave a comment <i class="bi bi-plus"></i></a>
        </div>
    
        <div class="comment-cards">
          <% if @comments.any? %>
            <% @comments.each do |comment| %>
              <div class="comment-card">
                <div style="display: flex;">
                  <h4 class="comment-title"><%= comment.executive.name %> <%= comment.executive.last_name %></h4>
                  <% if comment.executive == @ticket.executive %>
                    <span class="badge rounded-pill role-badge">Executive in charge</span>
                  <% end %>
                </div>
                <p class="ticket-details text-muted"> <%= comment.created_at %></p>
                <p class="ticket-details"> <%= comment.comment %></p>
              </div>
            <% end %>
          <% else %>
            <div class="comment-card no-comment">
              <div style="display: flex;">
                <h4 class="comment-title">There are no comments</h4>
              </div>
              <i class='fas fa-comment-slash' style='font-size:24px'></i>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>    
    
    <%= stylesheet_link_tag 'fontawesome-free/css/all.min.css' %>
    <%= stylesheet_link_tag 'sb-admin-2.min.css' %>
    <%= javascript_include_tag 'jquery-easing/jquery.easing.min.js' %>
    <%= javascript_include_tag 'js_boot/bootstrap.bundle.min.js' %>
  </div>

  <script>
  function acceptance_handler(event) {
    event.preventDefault();
    $("#evaluacionModal").modal("show");
  };

  function denial_handler(event) {
    event.preventDefault();
    $("#rechazarModal").modal("show");
  };

  function change_exec_handler(event, data) {
    event.preventDefault();
    $("#executiveModal").modal("show");
    let newInCharge = data.executiveId;

    if (data.executiveId === data.actualInCharge) {
      $("#executiveModal .modal-body").text("The executive selected is already in charge");
    } 
    else {
      $("#executiveModal .modal-body").text("Are you sure you wish to change the executive in charge?");
    
      var formHTML =
        '<p>Are you sure you wish to change the executive in charge?</p>' +
        '<form id="response-form" action="<%= ticket_path(@ticket) %>" method="post">' +
        '  <input type="hidden" name="_method" value="patch">' +
        '  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">' +
        '  <input type="hidden" name="ticket[commit]" id="commit">' +
        '  <input type="hidden" name="ticket[new_in_charge]" id="new-in-charge-input">' +
        '  <div style="text-align: center;">' +
        '    <input type="submit" value="Yes, I am sure" class="btn btn-primary">' +
        '    <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">' +
        '      I am not sure' +
        '    </button>' +
        '  </div>' +
        '</form>';
    
        $("#executiveModal .modal-body").html(formHTML);
    
        $("#new-in-charge-input").val(newInCharge);
        $("#commit").val("newInCharge");
    };
  };
  </script>
</body>

